* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #FBEBE6;
    font-family: Instrument Serif;

}



@media (max-width: 768px) {

    /* HERO */

    .hero {
        flex-direction: column;
        text-align: center;
    }

    .titulo {
        font-size: 40px;
        text-align: justify;
        margin: 20px;
        color: #5B5B5B;
        font-weight: 400;
    }

    .efeito {
        color: #EF9574;
        font-weight: 400;
        font-family: Imperial Script;
    }

    .text-hero {
        font-size: 16px;
        margin: 20px;
        color: #5B5B5B;
        font-weight: 400;
    }

    .btn-hero {
        display: flex;
        justify-content: center;
        border-bottom-left-radius: 10px;
        border-top-right-radius: 10px;
        background-color: #EF9574;
        color: #FBEBE6;
        border: none;
        padding: 10px 25px;
        font-size: 16px;
        cursor: pointer;
        margin: 20px;
        box-shadow: #5B5B5B 2px 2px 5px;
    }

    .mae {
        display: flex;
        justify-content: center;
        margin-bottom: -5px;
    }

    .imagem img {
        width: 100%;
        margin-top: 10px;
        margin-bottom: 0px;
    }

    /* PÉROLA */
    .perola-container {
        position: relative;
        width: 100%;
        text-align: center;
        margin-top: 20px;
    }

    .img-perola {
        width: 332px;
        height: 354px;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        bottom: -123px;
        z-index: 100;
    }

    /* === SLIDER BASE === */
    .slider-container,
    .slider-container-resultados {
        position: relative;
        overflow: hidden;
        width: 100%;
        margin: 0 auto;
    }

    .cards-especialidades,
    .cards-resultados {
        display: flex;
        transition: transform 0.4s ease;
        width: 100%;
    }

    .card,
    .card-resultado {
        flex: 0 0 100%;
        box-sizing: border-box;
        text-align: center;
    }

    /* === DOTS === */
    .dots,
    .dots-resultados {
        display: flex;
        justify-content: center;
        gap: 8px;
        margin-top: 20px;
    }

    .dots span,
    .dots-resultados span {
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background: #ccc;
        cursor: pointer;
        transition: 0.3s;
    }

    .dots .active,
    .dots-resultados .active-resultado {
        background: #d63384;
        transform: scale(1.2);
    }

}